<template>
<div class="lg:px-72 bg-gray-50">

<section class="relative py-10 overflow-hidden">
  <div class="container px-4 mx-auto">
    <div class="relative flex flex-wrap items-center -mx-4">
      <div class="w-full lg:w-1/2 px-4">
        <img class="rounded-xl border-2 border-black" src="https://images.unsplash.com/photo-1536302829663-a460b9ec95b9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60" alt="">
      </div>
      <div class="relative w-full lg:w-1/2 px-4 order-first lg:order-last">
        <div class="relative lg:pl-10 max-w-lg mb-10 lg:mb-0">
          <h2 class="mt-8 mb-6 lg:mb-10 lg:pr-8 text-4xl font-semibold font-heading">{{page.title}}</h2>
          <p class="mb-6 lg:mb-12 text-xl text-gray-500">{{page.description}}</p>
          <a class="inline-block py-4 px-8 text-white font-medium leading-normal text-sm bg-red-400 hover:bg-red-300 rounded transition duration-200" href="#">Try demo</a>
          <a class="inline-block py-4 px-8 text-white font-medium leading-normal text-sm bg-green-400 hover:bg-green-300 rounded transition duration-200" href="#">Live Preview</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-20">
  <div class="container px-4 mx-auto">
    <div class="flex flex-wrap -m-4">

      <div class="w-full md:w-1/2 lg:w-1/4 p-4 cursor-pointer ">
        <div class="bg-gray-100 text-center rounded-xl py-12 hover:bg-gray-300">
          <h2 class="font-bold text-xl">Citizen Pay App</h2>  
        </div>
      </div>

      <div class="w-full md:w-1/2 lg:w-1/4 p-4 cursor-pointer ">
        <div class="bg-gray-100 text-center rounded-xl py-12 hover:bg-gray-300">
          <h2 class="font-bold text-xl">Gov Dashboard</h2>  
        </div>
      </div>

      
      <div class="w-full md:w-1/2 lg:w-1/4 p-4 cursor-pointer">
        <div class="bg-gray-100 text-center rounded-xl py-12 hover:bg-gray-300">
          <h2 class="font-bold text-xl">Open Gov Portal</h2>  
        </div>
      </div>

      
      <div class="w-full md:w-1/2 lg:w-1/4 p-4 cursor-pointer">
        <div class="bg-gray-100 text-center rounded-xl py-12 hover:bg-gray-300">
          <h2 class="font-bold text-xl">Backend Dashboard</h2>  
        </div>
      </div>
    </div>
  </div>
</section>

<section class="md:pb-24">
  <div class="relative pt-12 ">
 
    <div class=" inset-x-0 max-w-6xl max-h-xl px-4 mx-auto">
      <div class="flex flex-wrap -mx-4">
       
        <div class="w-full h-full mt-5 md:w-1/3 px-4 mb-4 md:mb-0">
          <div class="p-8 bg-white shadow-md rounded-lg">
            <span class="flex items-center justify-center mb-12 w-16 h-16 rounded-full bg-red-500">
              <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.38948 7.984H4.45648C2.42148 7.984 0.771484 9.634 0.771484 11.669L0.771484 16.544C0.771484 18.578 2.42148 20.228 4.45648 20.228H15.5865C17.6215 20.228 19.2715 18.578 19.2715 16.544V11.659C19.2715 9.63 17.6265 7.984 15.5975 7.984L14.6545 7.984" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M10.0215 1.19051V13.2315" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M7.10645 4.1188L10.0214 1.1908L12.9374 4.1188" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </span>
            <h3 class="mb-6 text-2xl font-semibold">Problem Statement</h3>
            <p class="mb-8 text-gray-500">The current payment collection system within Pakistan for municipal Government Services is one that easily exploited. Illegitimate parties can siphon additional monetary resources from citizens for personal incentives. The municipal Government requires a solution that can mitigate the misuse of financial resources and provide transparency to the municipal government in regards to where their citizens' financial resources are flowing.</p>
          </div>
        </div>

        <div class="w-full mt-5 md:w-1/3 px-4">
          <div class="p-8 bg-white shadow-md rounded-lg">
            <span class="flex items-center justify-center mb-12 w-16 h-16 rounded-full bg-yellow-400">
              <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16.9024 6.85114L12.4591 10.4642C11.6196 11.1302 10.4384 11.1302 9.59895 10.4642L5.11816 6.85114" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.9089 19C18.9502 19.0084 21 16.5095 21 13.4384V6.57001C21 3.49883 18.9502 1 15.9089 1H6.09114C3.04979 1 1 3.49883 1 6.57001V13.4384C1 16.5095 3.04979 19.0084 6.09114 19H15.9089Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </span>
            <h3 class="mb-6 text-2xl font-semibold">Our Solution</h3>
            <p class="mb-8 text-gray-500">Our solution mitigates the requirement for a third-party in the fee collection pipeline while providing an immutable audit trail to track and reduce illegitimate financial transactions with the Government for their services. We allow the municipal Government to collect service charges from citizens such as tolls, garbage collection fees, and utility bills ensuring financial data security. Citizens are provided with a simple, accessible, and secure method of payment through integration with Telenor Easypaisa. Furthermore, the data obtained from citizens can allow Government staff to inform their future financial decisions.</p>
          </div>
        </div>
      
        <div class="w-full my-5 md:w-1/3 px-4">
          <div class="p-8 bg-white shadow-md rounded-lg">
            <span class="flex items-center justify-center mb-12 w-16 h-16 rounded-full bg-yellow-400">
              <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16.9024 6.85114L12.4591 10.4642C11.6196 11.1302 10.4384 11.1302 9.59895 10.4642L5.11816 6.85114" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.9089 19C18.9502 19.0084 21 16.5095 21 13.4384V6.57001C21 3.49883 18.9502 1 15.9089 1H6.09114C3.04979 1 1 3.49883 1 6.57001V13.4384C1 16.5095 3.04979 19.0084 6.09114 19H15.9089Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </span>
            <h3 class="mb-6 text-2xl font-semibold">Key Features</h3>
            <p class="mb-8 text-gray-500">
              <ul class="list-disc">
                <li>App can receive payment notifications from the government.</li>
                <li>App can receive payments from various popular payment processors.</li>
                <li>App can track citizen via government ID.</li>
                <li>Alerts for overdue fees can be easily seen and paid by citizens.</li>
              </ul>
            </p>
          </div>
        </div>
      
      </div>
    </div>
  </div>
</section>
</div>
</template>

<script>
import Logo from '../../components/Logo.vue'
export default {
components: { Logo },
 async asyncData({$content, params, error}) {
    
    const page = await $content('app', params.slug).fetch()
    return {page}
  },
  methods: {
    formatDate(date) {
      const options = {year: 'numeric', month: 'long', day: 'numeric'}
      return new Date(date).toLocaleDateString('en', options)
    },
  },
  
  created(){
//  console.log(this.$route.params)
},
}

</script>

<style>

</style>