<template>
  <div >
   <div class="lg:px-60">
    <section class="bg-white">
  <div class="container px-4 mx-auto">
    <div class="relative pt-32 md:pt-24 pb-24 lg:pb-16 bg-white">
      <div class="max-w-4xl mb-16 mx-auto text-center">
        <h2 class="mb-8 text-4xl lg:text-6xl text-gray-900 font-bold font-heading">A heading for Appcollection page would go here eventually</h2>
        <p class="mb-8 text-xl text-gray-600">We are on a mission to create a world of empowered professionals collaboratively creating open-source software
          that we can trust, love, and learn from.
        </p>
        <div>
          <a class="inline-block w-full lg:w-auto py-4 px-8 mb-3 lg:mb-0 lg:mr-3 bg-green-600 hover:bg-green-700 text-white font-semibold border rounded transition duration-200" href="#">Try Focused Browsing now</a>
          <a class="inline-block w-full lg:w-auto py-4 px-8 mb-3 lg:mb-0 lg:mr-3 bg-white text-gray-500 font-semibold border border-green-200 rounded transition duration-200" href="#">Explore other apps</a>
        </div>
      </div>
    </div>
  </div>
  <div class="hidden navbar-menu relative z-50">
    <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
    <nav class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-6 px-6 bg-white border-r overflow-y-auto">
      <div class="flex items-center mb-8">
        <a class="mr-auto text-2xl font-semibold leading-none" href="#">
          <img class="h-8" src="mockup-assets/logos/shuffle-ux.svg" alt="" width="auto">
        </a>
        <button class="navbar-close">
          <svg class="h-6 w-6 text-gray-400 cursor-pointer hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <div>
        <ul>
          <li class="mb-1"><a class="block p-4 text-sm font-semibold text-gray-900 hover:bg-gray-50 rounded" href="#">Sponsorship</a></li>
          <li class="mb-1"><a class="block p-4 text-sm font-semibold text-gray-900 hover:bg-gray-50 rounded" href="#">App Collection</a></li>
          <li class="mb-1"><a class="block p-4 text-sm font-semibold text-gray-900 hover:bg-gray-50 rounded" href="#">Ecosystem</a></li>
          <li class="mb-1"><a class="block p-4 text-sm font-semibold text-gray-900 hover:bg-gray-50 rounded" href="#">Objectives</a></li>
        </ul>
      </div>
      <div class="mt-auto">
        <p class="mt-6 mb-4 text-sm text-center text-gray-400">
          <span>© 2021 All rights reserved.</span>
        </p>
      </div>
    </nav>
  </div>
</section>

<section class="py-20">
  <div class="container px-4 mx-auto">
    <div class="flex flex-wrap -mx-px">
    
         <div v-for="app in apps" :key="app.slug"  class="w-full md:w-1/2 p-2 cursor-pointer">
         <div class="bg-gray-100 md:rounded-lg hover:bg-gray-200">
        <NuxtLink :to="{name: 'apps-slug', params: {slug: app.slug}}" class="text-center p-6 lg:py-12 lg:px-16 ">
          <span class="inline-block mx-auto mb-6 flex items-center justify-center bg-gray-400 rounded-full w-14 h-14">
          <svg class="text-gray-50" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M18.1332 14.5333C18.2665 14.6667 18.3998 14.6667 18.6665 14.6667H27.9998C28.7998 14.6667 29.3332 14.1333 29.3332 13.3333C29.3332 13.0667 29.3332 12.9333 29.1998 12.8L24.5332 3.46667C24.1332 2.8 23.3332 2.53334 22.6665 2.93334C22.5332 3.06667 22.2665 3.2 22.1332 3.46667L17.4665 12.8C17.1998 13.3333 17.4665 14.1333 18.1332 14.5333ZM23.3332 6.93334L25.8665 12H20.7998L23.3332 6.93334ZM8.6665 2.66667C5.33317 2.66667 2.6665 5.33334 2.6665 8.66667C2.6665 12 5.33317 14.6667 8.6665 14.6667C11.9998 14.6667 14.6665 12 14.6665 8.66667C14.6665 5.33334 11.9998 2.66667 8.6665 2.66667ZM8.6665 12C6.79984 12 5.33317 10.5333 5.33317 8.66667C5.33317 6.80001 6.79984 5.33334 8.6665 5.33334C10.5332 5.33334 11.9998 6.80001 11.9998 8.66667C11.9998 10.5333 10.5332 12 8.6665 12ZM14.2665 17.7333C13.7332 17.2 12.9332 17.2 12.3998 17.7333L8.6665 21.4667L4.93317 17.7333C4.39984 17.2 3.59984 17.2 3.0665 17.7333C2.53317 18.2667 2.53317 19.0667 3.0665 19.6L6.79984 23.3333L3.0665 27.0667C2.53317 27.6 2.53317 28.4 3.0665 28.9333C3.59984 29.4667 4.39984 29.4667 4.93317 28.9333L8.6665 25.2L12.3998 28.9333C12.9332 29.4667 13.7332 29.4667 14.2665 28.9333C14.7998 28.4 14.7998 27.6 14.2665 27.0667L10.5332 23.3333L14.2665 19.6C14.7998 19.0667 14.7998 18.2667 14.2665 17.7333ZM27.9998 17.3333H18.6665C17.8665 17.3333 17.3332 17.8667 17.3332 18.6667V28C17.3332 28.8 17.8665 29.3333 18.6665 29.3333H27.9998C28.7998 29.3333 29.3332 28.8 29.3332 28V18.6667C29.3332 17.8667 28.7998 17.3333 27.9998 17.3333ZM26.6665 26.6667H19.9998V20H26.6665V26.6667Z" fill="CurrentColor"></path>
            </svg>
          </span>
          <h3 class="mb-4 text-2xl font-bold font-heading">{{app.title}}</h3>
          <p class="text-gray-500 leading-loose">{{app.description}}</p>
        </NuxtLink>
         </div>
      </div> 
      </div>
  </div>
</section>
   </div>
  <section class="bg-gray-50">
    <div class="container bg-gray-50 px-4 mx-auto">
      <div class="relative bg-gray-50 pt-32 md:pt-24 pb-24 lg:pb-16 bg-white">
        <div class="max-w-4xl  mb-8 mx-auto text-center">
          <h2 class="mb-8 text-4xl  lg:text-4xl text-gray-900 font-bold font-heading">A second heading for Appcollection page would go here to support a call to action at the bottom
            before the section transitions to the footer</h2>
        </div>
      </div>
    </div>
    <div class="hidden navbar-menu relative z-50">
      <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
      <nav class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-6 px-6 bg-white border-r overflow-y-auto">
        <div class="flex items-center mb-8">
          <a class="mr-auto text-2xl font-semibold leading-none" href="#">
            <img class="h-8" src="mockup-assets/logos/shuffle-ux.svg" alt="" width="auto">
          </a>
          <button class="navbar-close">
            <svg class="h-6 w-6 text-gray-400 cursor-pointer hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
            </svg>
          </button>
        </div>
        <div>
          <ul>
            <li class="mb-1"><a class="block p-4 text-sm font-semibold text-gray-900 hover:bg-gray-50 rounded" href="#">Sponsorship</a></li>
            <li class="mb-1"><a class="block p-4 text-sm font-semibold text-gray-900 hover:bg-gray-50 rounded" href="#">App Collection</a></li>
            <li class="mb-1"><a class="block p-4 text-sm font-semibold text-gray-900 hover:bg-gray-50 rounded" href="#">Ecosystem</a></li>
            <li class="mb-1"><a class="block p-4 text-sm font-semibold text-gray-900 hover:bg-gray-50 rounded" href="#">Objectives</a></li>
          </ul>
        </div>
        <div class="mt-auto">
          <p class="mt-6 mb-4 text-sm text-center text-gray-400">
            <span>© 2021 All rights reserved.</span>
          </p>
        </div>
      </nav>
    </div>
  </section>
  </div>
</template>

<script>
export default {
  async asyncData({$content, params}) {
    const apps = await $content('app', params.slug)
      .only(['title', 'description', 'slug'])
      .sortBy('createdAt', 'asc')
      .fetch()

    return {
     apps,
    }
  },
  mounted(){
    // console.log(this.apps)
  }
}
</script>

<style>

</style>