<template>
 <section>
    <div class="md:py-48 py-24 px-4">
      <div class="container mx-auto">
      <div class="max-w-3xl mx-auto text-center">
        <h2 class="mb-4 text-2xl lg:text-3xl font-bold">Join us in the Open source revolution by staying informed about our organization's software, Education, and partnership.</h2>
        <p class="mb-6 max-w-xl mx-auto text-gray-500 leading-loose">Join us in the Open source revolution by staying informed about our organization's software, Education, and partnership.</p>
          <button  class="inline-flex items-center w-60 justify-center h-12 px-6 mr-6 font-bold text-white  rounded shadow-md bg-green-600 hover:bg-green-800 focus:shadow-outline focus:outline-none">
            Explore the ecosystem
          </button>
      </div>
     
    </div>
  </div>
</section>

</template>

<script>
export default {

}
</script>

<style>

</style>