<template>
<footer class="border-t bg-gray-300 pt-10">
  <div class="container px-4 mx-auto text-center">
    <a class="inline-block mx-auto text-gray-600 text-2xl leading-none" href="#">
      <img class="h-8" src="../assets/logo.svg" alt="" width="auto">
    </a>
    <ul class="my-6 flex flex-wrap space-x-8 items-center justify-center">
      <li class="mb-2 md:mb-0"><a class="text-sm text-gray-900 hover:text-gray-700" href="#">Vision</a></li>
      <li class="mb-2 md:mb-0"><a class="text-sm text-gray-900 hover:text-gray-700" href="#">Mission</a></li>
      <li class="mb-2 md:mb-0"><a class="text-sm text-gray-900 hover:text-gray-700" href="#">Projects</a></li>
      <li class="mb-2 md:mb-0"><a class="text-sm text-gray-900 hover:text-gray-700" href="#">Community</a></li>
      <li class="mb-2 md:mb-0"><a class="text-sm text-gray-900 hover:text-gray-700" href="#">Mentorship</a></li>
   
    </ul>
    <div>
      <a class="inline-block mr-2 lg:mr-10" href="#">
        <img src="../assets/facebook.png" width="30px" height="30px">
      </a>
      <a class="inline-block mr-2 lg:mr-10" href="#">
        <img src="../assets/github.png" width="30px" height="30px">
      </a>
      <a class="inline-block mr-2 lg:mr-10" href="#">
        <img src="../assets/linkedin.png" width="30px" height="30px">
      </a>
      <a class="inline-block mr-2 lg:mr-10" href="#">
        <img src="../assets/twitter.png" width="30px" height="30px">
      </a>
      <a class="inline-block mr-2 lg:mr-10" href="#">
        <img src="../assets/facebook.png" width="30px" height="30px">
      </a>

    </div>
  </div>
  <div class="my-4 border-t border-gray-300"></div>
  <div class="container p-2 mx-auto">
    <p class="text-center text-gray-700">All rights reserved © Grey Software 2021</p>
  </div>
</footer>
</template>