<template>

<section class="bg-gray-500">
  <div class="container px-4 mx-auto">
      <div class="relative pt-2 md:pt-12 pb-8 lg:pb-32 bg-gray-500">
      <div class="max-w-5xl my-12 mx-auto text-center">
        <h2 class="mb-8 text-4xl lg:text-6xl text-white font-bold font-heading">
          We build Open Source Software and Education systems for the greater good.</h2>
        <p class="mb-8 max-w-5xl text-xl text-gray-50">We are on a mission to create a world of empowered professionals collaboratively creating open-source software that we can trust, love, and learn from.</p>
        <div><a class="inline-block w-full lg:w-auto py-3 px-6 mb-3 lg:mb-0 lg:mr-3 bg-white hover:bg-gray-50 text-gray-900 font-semibold border border-white rounded transition duration-200" href="#">Try for Free</a><a class="inline-block w-full lg:w-auto py-3 px-6 text-gray-50 hover:text-gray-100 font-bold border rounded" href="#">Learn More</a></div>
      </div>
    </div>
  </div>
</section> 
</template>

<script>
export default {

}
</script>

<style>

</style>