<template>
  <section class="py-20">
  <div class="container px-4 lg:px-32 mx-auto">
    <div class="flex flex-wrap -mx-4">
      <div class="w-full lg:w-1/2 px-4">
        <div class="max-w-lg mx-auto mb-10 lg:mb-0">
          <span class="text-sm font-bold uppercase text-gray-600">Our objectives</span>
          <h2 class="mt-2 mb-6 text-4xl lg:text-5xl font-bold font-heading">Our objectives</h2>
          <p class="mb-6 text-lg text-gray-500 leading-loose">We are committed to delivering a high-quality software education curriculum alongside the products we develop. We strive to create unique, world-class software products while engaging communities in our development process.</p>
          <a class="inline-block px-12 w-full md:w-auto py-4 text-sm text-white font-bold text-center leading-loose bg-green-500 hover:bg-green-700 rounded transition duration-200" href="#">Our Gitlab Epics</a>
        </div>
      </div>
      <div class="w-full lg:w-1/2 px-4">
        <div class="max-w-max mx-auto bg-gray-100 rounded-lg p-6 md:p-12">
          <div class="flex items-start mb-6">
            <span class="mr-10 flex-shrink-0 flex justify-center items-center w-12 h-12 rounded-full bg-gray-500 text-gray-50 font-bold font-heading">1</span>
            <div class="max-w-xs">
              <p class="text-lg text-gray-500 leading-loose">Become a global open source education thought leader.</p>
            </div>
          </div>
          <div class="flex items-start mb-6">
            <span class="mr-10 flex-shrink-0 flex justify-center items-center w-12 h-12 rounded-full bg-gray-500 text-gray-50 font-bold font-heading">2</span>
            <div class="max-w-xs">
              <p class="text-lg text-gray-500 leading-loose">Become a model for organizational transparency.</p>
            </div>
          </div>
          <div class="flex items-start">
            <span class="mr-10 flex-shrink-0 flex justify-center items-center w-12 h-12 rounded-full bg-gray-500 text-gray-50 font-bold font-heading">3</span>
            <div class="max-w-xs">
              <p class="text-lg text-gray-500 leading-loose">Create software that people can trust, love, and learn from.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</template>

<script>
export default {

}
</script>

<style>

</style>