<template>
<section class="container md:px-20 px-4 mx-auto">
    <h2 class="m-6 mx-10 font-sans text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl sm:leading-none">
     Our Products
     </h2>
    <div class="container mx-auto md:px-6">
    <div class="flex flex-wrap -mx-1 overflow-hidden sm:-mx-1 md:-mx-1 p-4 lg:-mx-1 xl:-mx-1">
  
    <div v-for="app in apps" :key="app.slug" class="border-2 border-gray-100 transition duration-300 transform shadow-sm hover:scale-95 group hover:shadow-xl my-1 px-1 w-full overflow-hidden sm:my-1 sm:px-1 md:my-1 md:px-1 md:w-1/2 lg:my-1 lg:px-1 lg:w-1/3 xl:my-1 xl:px-1 xl:w-1/3 ">
        <div class="max-w-md mx-auto w-full my-2 overflow-hidden bg-white rounded-lg dark:bg-gray-800">
                <img class="w-full h-full" src="../assets/openproducts.png" alt="avatar">
                <!-- <img class="w-full h-full" :src="app.img" alt="avatar"> -->

                <div class="px-6 py-4">
                    <h1 class="text-xl font-bold text-gray-800 dark:text-white">{{app.title}}
                        <span class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded text-indigo-600 bg-indigo-200 uppercase last:mr-0 mr-1">
                        Released
                        </span>
                    </h1>

                    <p class="py-3 text-gray-600 font-semibold dark:text-gray-400">{{app.description}}</p>
                    
                    <div class="flex items-center mt-4 text-gray-700 dark:text-gray-200">
                        <NuxtLink :to="{name: 'apps-slug', params: {slug: app.slug}}" class="text-xl mr-2 text-gray-700 font-bold">Read More </NuxtLink>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3" />
                        </svg> 
                    </div>
                </div>
            </div>
       </div>

   
    </div>    
    </div>


</section>
</template>

<script>
export default{
   props: {
        apps: {
            type: [Array, Object],
            required: true
        }
    },
data(){
      return{
    //    apps1 : this.apps,
      }
  },
  mounted(){
    console.log(this.apps)
  }
 
}
</script>

<style>

</style>