<template>
    <!-- This is an example component -->
<div>
	<div class="container items-center justify-center bg-purple-500 px-6 md:h-screen mx-auto grid">
		<div class="grid gap-6 mb-8 md:grid-cols-2 xl:grid-cols-4">
			
			<div v-for="(skill, index) in skills" :key="index" class="flex items-center p-4 bg-white rounded-lg shadow-xs">
				<div class="p-3 mr-4 text-blue-500 bg-blue-100 rounded-full">
					<svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
						<path
							d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z">
						</path>
					</svg>
				</div>
				<div>
					<p class="mb-2 text-md font-bold text-gray-600">
						{{skill.skillName}}
					</p>
					<p class="text-md font-semibold text-gray-700">
						{{skill.effeciency}}
					</p>
				</div>
			</div>
		
		</div>
	</div>
</div>
</template>

<script>
 export default{
  data() {
	  return {
		  skills : [
			  {
				skillName : 'Skill Name',
				effeciency : '98%'
			  },
			  {
				skillName : 'Skill Name',
				effeciency : '98%'
			  },
			  {
				skillName : 'Skill Name',
				effeciency : '98%'
			  },
			  {
				skillName : 'Skill Name',
				effeciency : '98%'
			  },
			  {
				skillName : 'Skill Name',
				effeciency : '98%'
			  },
			  {
				skillName : 'Skill Name',
				effeciency : '98%'
			  },			  

		  ]
	  }
  }
 }
</script>
