<template>
<section class="py-20">
  <div class="container md:px-32 px-6 mx-auto">
    <div class="flex flex-wrap items-center justify-center mb-12 -mx-4">
      <div class="w-full lg:w-1/2 px-4 mb-3 lg:mb-0">
        <span class="text-sm text-gray-600 uppercase">Support us</span>
        <h2 class="text-4xl lg:text-5xl font-bold font-heading">
          Your support helps us make an impact!
        </h2>
      </div>
      <div class="w-full  lg:w-1/2">
        <div class="lg:ml-auto max-w-lg">
          <p class="text-lg text-gray-500  leading-loose">
            Individual and Corporate supporters on open-collective and GitHub make our open products &amp; education initiatives possible. You can be a part of it too.
          </p>
        </div>
      </div>
    </div>

    <div class="py-20  bg-gray-100">
      <div class="container mx-auto px-4">
        <div class="flex flex-wrap">
          <div class="w-full lg:w-1/2 px-12 lg:px-24 mb-16 lg:mb-0">
            <div class="text-center rounded ">
              <span class="mb-6 inline-block p-3 bg-green-200 rounded">
                <svg class="w-6 h-6 text-green-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M6 6V5a3 3 0 013-3h2a3 3 0 013 3v1h2a2 2 0 012 2v3.57A22.952 22.952 0 0110 13a22.95 22.95 0 01-8-1.43V8a2 2 0 012-2h2zm2-1a1 1 0 011-1h2a1 1 0 011 1v1H8V5zm1 5a1 1 0 011-1h.01a1 1 0 110 2H10a1 1 0 01-1-1z" clip-rule="evenodd"></path><path d="M2 13.692V16a2 2 0 002 2h12a2 2 0 002-2v-2.308A24.974 24.974 0 0110 15c-2.796 0-5.487-.46-8-1.308z"></path></svg></span>
              <h3 class="mb-2 text-4xl font-bold font-heading">Individuals</h3>
              <p class="mb-6 text-gray-500 leading-loose">Starting from $5 / month, we give you premium features across our app collection and education ecosystem. </p>
              <a class="inline-block w-full lg:w-auto py-4 px-8 mb-3 lg:mb-0 lg:mr-3 bg-green-600 hover:bg-green-700 text-white font-semibold border rounded transition duration-200" href="#">Sponsor us on GitHub</a>
            </div>
          </div>

          <div class="w-full lg:w-1/2 px-12 lg:px-24">
            <div class="text-center">
              <span class="mb-6 inline-block p-3 bg-green-200 rounded">
                <svg class="w-6 h-6 text-green-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"></path></svg></span>
              <h3 class="mb-2 text-4xl font-bold font-heading">Companies</h3>
              <p class="mb-6 text-gray-500 leading-loose">Starting from $50 / month, we give you advertising space on our software products and education ecosystem. </p>
              <a class="inline-block w-full lg:w-auto py-4 px-8 mb-3 lg:mb-0 lg:mr-3 bg-green-600 hover:bg-green-700 text-white font-semibold border rounded transition duration-200" href="#">Sponsor us on OpenCollective</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>  
</template>

<script>
export default {

}
</script>

<style>

</style>