
<template>
<div class="logo">
<img class="logoimage" src="../assets/logo.svg" width="100%" height="100%" alt="logo" />
</div>
</template>

<style scoped>
 .logo{
   display: flex;
 }

 .logoimage{
   max-width: 100%;
   
 }
</style>