<template>
<section class="py-8 px-6 my-5">
  <div class="container px-8 mx-auto">
   
    <div class="max-w-3xl mx-auto mb-12 lg:mb-16 text-center">
      <p class="text-sm font-semibold text-gray-400 leading-loose">HOW'S THE COMMUNITY RESPONDING</p>
      <h2 class="mt-2 md:mb-4 mb:2 text-xl lg:text-5xl font-bold font-heading">People love what we are doing</h2>
    </div>

       
     <div class="md:container md:px-16 md:mx-auto">
      <VueSlickCarousel v-bind="settings">
        <div v-for="(testimonial, index) in testimonials" :key="index" class="w-full p-4">
          <div class="bg-gray-100 p-6 rounded-lg">
            <p class="mb-6 text-lg text-gray-500 leading-loose">{{testimonial.review}}</p>
            <img class="mb-2 h-12 w-12 object-cover rounded-full" src="../assets/facebook.png" alt="">
            <p class="text-2xl font-bold font-heading">{{testimonial.name}}</p>
            <p class="text-lg text-gray-500">{{testimonial.position}}</p>
          </div>
        </div>        
      </VueSlickCarousel>
     </div>
  </div>
</section>
</template>
 
<script>
  import VueSlickCarousel from 'vue-slick-carousel'
  import 'vue-slick-carousel/dist/vue-slick-carousel.css'
  // optional style for arrows & dots
  import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'
 
  export default {
    name: 'Testimonial',
    components: { VueSlickCarousel },
     
     data(){
       return{

        testimonials:[
          {
            review : 'Even though tons of youtube videos are available, it’s a different experience to have someone that understands what you are going through to guide you in the project.',
            name : 'Shawn 1',
            position : 'Student, UTM',
            img : '../assets/facebook.png'
          },
          {
            review : 'Even though tons of youtube videos are available, it’s a different experience to have someone that understands what you are going through to guide you in the project.',
            name : 'Shawn 2',
            position : 'Student, UTM',
            img : '../assets/facebook.png'
          },
          {
            review : 'I have been programming on the side for the past year using online resources yet one session with my mentor was more enriching than hours spent on these side tutorials.',
            name : 'Osama',
            position : 'Grey Software Explorer',
            img : '../assets/facebook.png'
          },
          {
            review : 'Even though tons of youtube videos are available, it’s a different experience to have someone that understands what you are going through to guide you in the project.',
            name : 'Shawn 4',
            position : 'Student, UTM',
            img : '../assets/facebook.png'
          },
                    {
            review : 'Even though tons of youtube videos are available, it’s a different experience to have someone that understands what you are going through to guide you in the project.',
            name : 'Shawn 5',
            position : 'Student, UTM',
            img : '../assets/facebook.png'
          },
        ],

    settings: {
  "dots": true,
  "infinite": false,
  "speed": 500,
  "slidesToShow": 3,
  "slidesToScroll": 1,
  "initialSlide": 0,
  "responsive": [
    {
      "breakpoint": 1024,
      "settings": {
        "slidesToShow": 3,
        "slidesToScroll": 1,
        "infinite": true,
        "dots": true
      }
    },
    {
      "breakpoint": 600,
      "settings": {
        "slidesToShow": 2,
        "slidesToScroll": 1,
        "initialSlide": 2
      }
    },
    {
      "breakpoint": 480,
      "settings": {
        "slidesToShow": 1,
        "slidesToScroll": 1
      }
    }
  ]
}
}
     }
   
  }
</script> 