<template>
<div class="bg-white overflow-hidden">
<Hero />
<div class="lg:px-32">
<Testimonial />
<Objective />
<SupportUs />
<Products :apps="apps"/>
<CTA />
</div>
</div>
</template>

<script>
import Testimonial from '../components/Testimonial.vue'
import Hero from '../components/Hero.vue'
import Navbar from '../components/Navbar.vue'
import CTA from '../components/CTA.vue'
import Footer from '../components/Footer.vue'
import Objective from '../components/Objective.vue'
import SupportUs from '../components/SupportUs.vue'

export default {
 components: { Testimonial, Hero, Navbar, CTA, Footer, Objective, SupportUs },
 
async asyncData({$content, params}) {
    const apps = await $content('app', params.slug)
      .only(['title', 'description', 'slug'])
      .sortBy('createdAt', 'asc')
      .fetch()

    return {
     apps,
    }
  },
  mounted(){
    console.log('HELLO',this.apps)
  }
}

</script>
