<template>
 <div class="lg:px-60">
  <section class="bg-white">
  <div class="container px-4 mx-auto">
    <div class="relative pt-16 md:pt-24 pb-24 lg:pb-16 bg-white">
      <div class="max-w-4xl mb-16 mx-auto text-center">
        <h2 class="mb-8 text-4xl lg:text-6xl text-gray-900 font-bold font-heading">A heading for Supporters page would go here eventually</h2>
        <div>
          <a class="inline-block w-full lg:w-auto py-4 px-8 mb-3 lg:mb-0 lg:mr-3 bg-white hover:bg-green-600 hover:text-white text-green-900 font-semibold border border-green-400 rounded transition duration-200" href="#">Sponsor us on GitHub</a>
          <a class="inline-block w-full lg:w-auto py-4 px-8 mb-3 lg:mb-0 lg:mr-3 bg-green-600 hover:bg-green-700 text-white font-semibold border border-green-400 rounded transition duration-200" href="#">Sponsor us on Open Collective</a>
        </div>
      </div>
    </div>
  </div>
  <div class="hidden navbar-menu relative z-50">
    <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
    <nav class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-6 px-6 bg-white border-r overflow-y-auto">
      <div class="flex items-center mb-8">
        <a class="mr-auto text-2xl font-semibold leading-none" href="#">
          <img class="h-8" src="https://images.unsplash.com/photo-1599566150163-29194dcaad36?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80" alt="" width="auto">
        </a>
        <button class="navbar-close">
          <svg class="h-6 w-6 text-gray-400 cursor-pointer hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <div>
        <ul>
          <li class="mb-1"><a class="block p-4 text-sm font-semibold text-gray-900 hover:bg-gray-50 rounded" href="#">Sponsorship</a></li>
          <li class="mb-1"><a class="block p-4 text-sm font-semibold text-gray-900 hover:bg-gray-50 rounded" href="#">App Collection</a></li>
          <li class="mb-1"><a class="block p-4 text-sm font-semibold text-gray-900 hover:bg-gray-50 rounded" href="#">Ecosystem</a></li>
          <li class="mb-1"><a class="block p-4 text-sm font-semibold text-gray-900 hover:bg-gray-50 rounded" href="#">Objectives</a></li>
        </ul>
      </div>
      <div class="mt-auto">
        <p class="mt-6 mb-4 text-sm text-center text-gray-400">
          <span>© 2021 All rights reserved.</span>
        </p>
      </div>
    </nav>
  </div>
</section>

  <section class="py-20">
  <div class="container px-4 mx-auto">
    <div class="max-w-3xl mx-auto mb-12 lg:mb-16 text-center">
      <h2 class="mt-2 mb-4 text-4xl lg:text-5xl font-bold font-heading">Our Supporters</h2>
      <p class="text-lg text-gray-500 leading-loose">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa nibh, pulvinar vitae aliquet nec, accumsan aliquet orci.</p>
    </div>
    <div class="flex flex-wrap items-center justify-around -m-4">
    
      <div v-for="(suppporter,index) in suppporters" :key="index" class="w-full md:w-1/2 lg:w-1/3 p-4">
        <div class="bg-gray-50 p-6 rounded-lg">
          <p class="mb-6 text-lg text-gray-500 leading-loose">{{suppporter.review}}</p>
          <img class="mb-2 h-12 w-12 object-cover rounded-full" :src="suppporter.img" alt="">
          <p class="text-2xl font-bold font-heading">{{suppporter.name}}</p>
          <p class="text-lg text-gray-500">{{suppporter.position}}</p>
        </div>
      </div>
    
    </div>
  </div>
</section>
<section class="py-20">
  <div class="container px-4 mx-auto">
    <div class="max-w-3xl mx-auto text-center">
      <!-- <span class="text-xs text-gray-200 uppercase">New Feature</span> -->
      <h2 class="mt-2 mb-4 text-4xl lg:text-5xl font-bold font-heading">You can be a supporter too</h2>
      <p class="mb-6 text-lg text-gray-500 leading-loose">If you have ever wondered how to develop your brand, this is the place for you. Take a big step forward in growing your business with this great tool.</p>
      <div class="flex flex-wrap justify-center">
        <a class="inline-block w-full lg:w-auto py-4 px-8 mb-3 lg:mb-0 lg:mr-3 bg-green-600 hover:bg-green-700 text-white font-semibold border border-green-400 rounded transition duration-200" href="#">Sponsor us on GitHub</a>
        <a class="inline-block w-full lg:w-auto py-4 px-8 mb-3 lg:mb-0 lg:mr-3 bg-white hover:bg-green-600 hover:text-white text-green-900 font-semibold border border-green-400 rounded transition duration-200" href="#">Sponsor us on Open Collective</a>
      </div>
    </div>
  </div>
</section>

 </div>
</template>


<script>
export default {
   
     data(){
       return{

        suppporters:[
          {
            review : 'Even though tons of youtube videos are available, it’s a different experience to have someone that understands what you are going through to guide you in the project.',
            name : 'Shawn 1',
            position : 'Student, UTM',
            img : 'https://images.unsplash.com/photo-1599566150163-29194dcaad36?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80'
          },
          {
            review : 'I have been programming on the side for the past year using online resources yet one session with my mentor was more enriching than hours spent on these side tutorials.',
            name : 'Osama',
            position : 'Grey Software Explorer',
            img : 'https://gitlab.com/uploads/-/system/user/avatar/8335095/avatar.png?width=90'
          },
          {
            review : 'Even though tons of youtube videos are available, it’s a different experience to have someone that understands what you are going through to guide you in the project.',
            name : 'Shawn 4',
            position : 'Student, UTM',
            img : 'https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8YXZhdGFyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60'
          },
           {
            review : 'Even though tons of youtube videos are available, it’s a different experience to have someone that understands what you are going through to guide you in the project.',
            name : 'Shawn 5',
            position : 'Student, UTM',
            img : 'https://images.unsplash.com/photo-1531427186611-ecfd6d936c79?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8YXZhdGFyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60'
          },
          {
            review : 'I have been programming on the side for the past year using online resources yet one session with my mentor was more enriching than hours spent on these side tutorials.',
            name : 'Osama',
            position : 'Grey Software Explorer',
            img : 'https://gitlab.com/uploads/-/system/user/avatar/8335095/avatar.png?width=90'
          },
          {
            review : 'Even though tons of youtube videos are available, it’s a different experience to have someone that understands what you are going through to guide you in the project.',
            name : 'Shawn 4',
            position : 'Student, UTM',
            img : 'https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8YXZhdGFyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60'
          },

],

     }
   }
}
   
</script>

<style>

</style>