<template>
 <div class="container mx-auto">
     <nuxt-content :document="visionDocument"></nuxt-content>
     </div>  
</template>

<script>
export default {


}
</script>

<style>
.nuxt-content h2 {
  @apply font-bold text-2xl 
 }
</style>